* {
    box-sizing: border-box;
}

body {
    background-color: black;

}



.color {
    color:red;
    text-align: center;
}

.main-header {
    text-align: center;
    color: red;
}

p {
    color: red;
}

.midbox {
    border: 2px solid white;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1em;
    padding: 10px;
}

@media screen and (min-width: 600px) {

}